@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="@Url.Content("~/Scripts/jquery-2.0.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/weather.js")" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <title>Weather</title>
</head>

<body>
    <div style="border: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; margin-left: auto; margin-right: auto; position: relative; width: 728px; overflow: hidden;">
        <div id="showdata"></div>
        <p>Last Refresh: <span id="lastRefresh"></span> - Refresh rate: <span id="refreshInterval">@ViewBag.RefreshInterval</span> ms</p>
        <label>Temperature Units: </label>
        <input type="radio" name="temperatureUnits" value="c" checked="checked">Celsius</input>
        <input type="radio" name="temperatureUnits" value="f">Fahrenheit</input>
        <br/><br/>
        <label>Where on Earth IDentifier: </label>
        <input type="text" value="44418" name="woeidInput" /><button id="woeidButton">Change</button>
    </div>

</body>
</html>
